# Basic of python
- Various datatypes in python 
- Variable
- Variables Assignment
- Print Formatting

# Various datatypes in python
## Numbers

In [2]:
1+1

2

In [3]:
2-3

-1

In [4]:
10*2

20

In [5]:
10**2

100

In [6]:
10/2

5.0

In [7]:
10%2

0

In [8]:
#Check the datatype

In [9]:
type(True)

bool

In [13]:
type('in')

str

In [14]:
type(1)

int

## Strings

In [15]:
"hii"

'hii'

In [16]:
'hello'

'hello'

In [18]:
#variable assignment
#syntax
#var_name=value

In [19]:
a=10
type(a)

int

In [20]:
#mathematical assignment using variable assignment

In [22]:
a=10
b=20
print(a+b)
print(a-b)
print(a/b)
print(a*b)

30
-10
0.5
200

In [23]:
#various type of printing

In [25]:
print('hello')

hello

In [29]:
name='Chanchal'
surname='Dubey'

In [32]:
print('My first name is {} and last name is {}'.format(name,surname))

My first name is Chanchal and last name is Dubey

In [33]:
print("My last name is {last} and first name is {first}".format(first=name,last=surname))

My last name is Dubey and first name is Chanchal

In [34]:
len(name)

8

# User Input

In [5]:
username = input("Enter username:")
print("Username is: ", username)

Enter username:2
Username is:  2

In [4]:
number=int(input("Enter the number"))
print("Number is:",number)

Enter the number66
Number is: 66

# Type Casting
## Type casting is a process in which we convert a literal of one type to another.
- int() can take a float or string literal as argument and returns a value of class 'int' type.
- float() can take an int or string literal as argument and returns a value of class 'float' type.
- str() can take a float or int literal as argument and returns a value of class 'str' type.

## Type Cast int to float and string

In [11]:
# integer
n=19

# float
f=float(n)
print("float:",f)
print(type(f))

# string
string=str(n)
print("String:",string)
print(type(string))

float: 19.0
<class 'float'>
String: 19
<class 'str'>

# Type Cast float to int and string

In [23]:
# Float
f=10.00

# integer
n=int(f)
print("integer:",n)
print(type(n))

# string
string=str(f)
print("String:",string)
print(type(string))

integer: 10
<class 'int'>
String: 10.0
<class 'str'>

# Type Cast float to int and string

In [22]:
# String
S='12336'

# integer
n=int(S)
print("integer:",n)
print(type(n))

# float
f=float(S)
print("Float:",f)
print(type(f))

integer: 12336
<class 'int'>
Float: 12336.0
<class 'float'>