# Python Data Structure and Boolean
- Boolean 
- Boolean and Logical Operators
- Lists
- Comparsion Operators
- Dictionaries 
- Tuples
- Sets
 
 ## Boolean Variables 
 Boolean values are the two contant objects False and True

In [1]:
bool()

False

In [2]:
type(True)

bool

In [3]:
my_str=("Chanchal Dubey")

In [4]:
print(my_str.isalnum())
print(my_str.istitle()) #capital letter in the start
print(my_str.isupper())
print(my_str.islower())
print(my_str.isspace())
print(my_str.isalpha())
print(my_str.startswith("C"))
print(my_str.endswith("y"))

False
True
False
False
False
False
True
True

# Boolean and Logical Operation

In [5]:
True and True

True

In [6]:
True and False

False

In [7]:
True or True

True

In [8]:
True or False

True

In [12]:
mystr=("Hello World")
my_str=("aaa")

In [15]:
mystr.endswith("a") and my_str.isnum()

False

# Lists

- List is declare in a square brackets[].
- It is muteable, which means we can actually change the values once it is declared.
- It can store duplicate values.
- Elements can be accessed using the index.
- Each value or element inside of a list is called an items
## Inbuild Function in list
### - Append
### - Insert

In [16]:
type([])

list

In [17]:
name=[]

In [18]:
type(name)

list

In [20]:
lst=list()

In [21]:
type(lst)

list

In [22]:
values=["yes","no",122,222]

In [23]:
type(values)

list

In [24]:
len(values)

4

## Append
Append is used to add element in the list

In [25]:
values.append("cake")

In [26]:
values

['yes', 'no', 122, 222, 'cake']

In [34]:
name=["hello"]
name

['hello']

In [39]:
name.append(["rock","star"])
name

['hello',
 ['rock', 'star'],
 ['rock', 'star'],
 ['rock', 'star'],
 ['rock', 'star']]

In [30]:
#indexing in list
values[1]

'no'

In [31]:
values[1:4]

['no', 122, 222]

## Insert
insert in the specific order

In [42]:
values.insert(2,"rum")

In [43]:
values

['yes', 'no', 'rum', 122, 222, 'cake']

## Extent Method

In [44]:
name

['hello',
 ['rock', 'star'],
 ['rock', 'star'],
 ['rock', 'star'],
 ['rock', 'star']]

In [45]:
name.extend(["123",344])

In [46]:
name

['hello',
 ['rock', 'star'],
 ['rock', 'star'],
 ['rock', 'star'],
 ['rock', 'star'],
 '123',
 344]

## various operation that we can performe in list

In [48]:
lst=[1,2,3,4]

In [49]:
sum(lst)

10

In [50]:
lst.pop()

4

In [51]:
lst

[1, 2, 3]

In [52]:
lst.pop(0)

1

## count()
calculates total occurance of given element of the list

In [53]:
nos=[1,1,3,7,8,8,8,]

In [56]:
nos.count(8)

3

In [58]:
# len():calculate total length of the list
len(nos)

7

In [60]:
# index(): return the index of first occurance.start and end index are not necessary parameter
nos.index(8)

4

In [62]:
nos.index(8,0,5)
# (search nos,start index,end index)

4

In [63]:
min(nos)

1

In [64]:
max(nos)

8

In [68]:
nos*5
#repeat the same value of list 5 times

[1,
 1,
 3,
 7,
 8,
 8,
 8,
 1,
 1,
 3,
 7,
 8,
 8,
 8,
 1,
 1,
 3,
 7,
 8,
 8,
 8,
 1,
 1,
 3,
 7,
 8,
 8,
 8,
 1,
 1,
 3,
 7,
 8,
 8,
 8]

## Sets
- It is unordered
- It is declare in curly brackets
- It is not indexed,which means you cannot access the elements inside a set using index
- It does not store duplicate entries

In [2]:
# defining an empty sets
set_var=set()
print(set_var)
type(set_var)

set()

set

In [6]:
set_var={"Ironman","hitman"}
set_var

{'Ironman', 'hitman'}

In [7]:
type(set_var)

set

In [8]:
text={1,2,3,4,5,5,5,5,5,5}

In [9]:
text

{1, 2, 3, 4, 5}

### in bulid function of sets

In [11]:
set_var.add("Hulk")
set_var

{'Hulk', 'Ironman', 'hitman'}

In [13]:
set1={'Hulk', 'Ironman', 'hitman'}
set2={'Hulk', 'Ironman', 'hitman',"Hulk2"}

In [15]:
#differences
set2.difference(set1)

{'Hulk2'}

In [16]:
set2

{'Hulk', 'Hulk2', 'Ironman', 'hitman'}

In [17]:
set2.difference_update(set1)

In [19]:
set2

{'Hulk2'}

In [20]:
set1={'Hulk', 'Ironman', 'hitman'}
set2={'Hulk', 'Ironman', 'hitman',"Hulk2"}

In [22]:
#intersection
set2.intersection(set1)

{'Hulk', 'Ironman', 'hitman'}

In [23]:
set2.intersection_update(set1)

In [24]:
set2

{'Hulk', 'Ironman', 'hitman'}

## Dictionaries
- It has key value pair
- It is mutable in nature which means we can change inside a dictionary
- It is declare in curly brackets

In [25]:
dic={}

In [26]:
type(dic)

dict

In [27]:
dic={1,2,3,4,2,}

In [28]:
type(dic)

set

In [39]:
dic={"car1":"audi","car2":"BMW"}

In [40]:
type(dic)

dict

In [41]:
#access the item value based on key
dic['car1']

'audi'

In [45]:
# we can even loop dictionaries value
for x in dic.values():
    print(x)

audi
BMW

In [46]:
# we can also check key and value
for x in dic.items():
    print(x)

('car1', 'audi')
('car2', 'BMW')

In [50]:
#adding items into dictionaries
dic["car3"]= "audi 2.0"

In [51]:
dic

{'car1': 'audi', 'car2': 'BMW', 'car3': 'audi 2.0'}

In [53]:
dic["car1"]="maruti"

In [54]:
dic

{'car1': 'maruti', 'car2': 'BMW', 'car3': 'audi 2.0'}

## nested dictionary

In [70]:
'car1_model'={'Audi':1980}
'car2_model'={'maruti':1888}

'car_type'={'car1':'car1_model','car2':'car2_model'}
print(car_type)

SyntaxError: can't assign to literal (<ipython-input-70-c0d649526b44>, line 1)

# tuple
- Immuteable in nature which means u cannot change a value inside tuple once we have declare it
- it can store duplicate vaalues

In [71]:
#create an empty tuple
tuple_var=tuple()

In [72]:
type(tuple_var)

tuple

In [74]:
tuple_var=("chanchal","anku","purva")

In [75]:
tuple_var[0]

'chanchal'

In [77]:
#inbuild function
tuple_var.count('anku')

1

In [79]:
tuple_var.index('purva')

2